[
 {
   elvis,
   [
    {config,
     [#{dirs => ["src"],
        filter => "*.erl",
        ignore => [],
        rules => [{elvis_style, god_modules, #{ignore => []}},
                  {elvis_style, no_debug_call, #{ignore => []}},
                  {elvis_style, nesting_level, #{ignore => []}},
                  {elvis_style, dont_repeat_yourself, #{min_complexity => 20}},
                  {elvis_style, line_length, #{limit => 120}},
                  {elvis_style, state_record_and_type, disable},
                  {elvis_style, macro_names, disable},
                  {elvis_style, function_naming_convention, #{regex => "^_{0,2}([a-z][a-z0-9]*_?)*_{0,2}$"}},
                  {elvis_style, invalid_dynamic_call, #{ignore => [grpcbox_stream,
                                                                   grpcbox_chain_interceptor,
                                                                   grpcbox_services_sup]}}],
        ruleset => erl_files
       },
      #{dirs => ["."],
        filter => "rebar.config",
        rules => [{elvis_project, no_deps_master_rebar, disable}],
        ruleset => rebar_config
       },
      #{dirs => ["."],
        filter => "elvis.config",
        ruleset => elvis_config
       }
     ]
    }
   ]
 }
].
