{erl_opts, [debug_info]}.

{deps, [chatterbox,
        opencensus,
        acceptor_pool,
        ctx,
        gpb,
        grpc_lib]}.

{profiles,
 [{test, [{erl_opts, [nowarn_export_all]},

          {deps, [jsx,
                  {grpc_client,
                   {git, "https://github.com/Bluehouse-Technology/grpc_client",
                    {branch, "master"}}}]}]},

  {interop, [{grpc, [{protos, "interop/protos"},
                     {gpb_opts, [{module_name_suffix, "_pb"}]}]},

             {src_dirs, ["src", "interop/"]},

             {plugins, [grpcbox_plugin]},
             {shell, [{apps, [grpcbox]},
                      {config, "interop/config/sys.config"}]}]}
 ]}.

{shell, [{apps, [grpcbox]},
         {config, "config/sys.config"}]}.

{xref_checks, [undefined_function_calls, undefined_functions,
               deprecated_function_calls, deprecated_functions]}.

{project_plugins, [{rebar_covertool, "1.1.0"},
                   rebar3_lint]}.

{cover_enabled, true}.
{cover_opts, [verbose]}.
{cover_export_enabled, true}.
{covertool, [{coverdata_files, ["ct.coverdata"]}]}.

{ct_opts, [{sys_config, "config/sys.config"},
           {ct_hooks, [cth_surefire]}]}.
