{erl_opts, [debug_info]}.

{deps, [{chatterbox, {pkg, ts_chatterbox}},
        ctx,
        gpb,
        grpc_lib]}.

{plugins, [grpcbox_plugin]}.

{grpc, [{protos, "priv/protos"},
        {gpb_opts, [{module_name_suffix, "_pb"}]}]}.

{profiles,
 [{test, [{erl_opts, [nowarn_export_all]},

          {deps, [jsx,
                  {grpc_client,
                   {git, "https://github.com/Bluehouse-Technology/grpc_client",
                    {branch, "master"}}}]}]}
 ]}.

{ct_opts, [{sys_config, "config/sys.config"}]}.

{shell, [{apps, [grpcbox]},
         {config, "config/sys.config"}]}.
