[{chatterbox, [{stream_callback_mod, grpcbox_stream},
               {port, 8080},
               {ssl, false},
               {ssl_options, [{certfile, "/home/tristan/Devel/chatterbox/config/localhost.crt"},
                              {keyfile, "/home/tristan/Devel/chatterbox/config/localhost.key"},
                              {honor_cipher_order, false},
                              {versions, ['tlsv1.2']},
                              {next_protocols_advertised, [<<"h2">>]}]}]}].
