[
 {grpcbox, [{grpc_opts, #{service_protos => [test_pb],
                          client_cert_dir => "test/grpcbox_SUITE_data/certificates/clients"}},

            {transport_opts, #{ssl => false,
                               keyfile => "test/grpcbox_SUITE_data/certificates/localhost.key",
                               certfile => "test/grpcbox_SUITE_data/certificates/localhost.crt",
                               cacertfile => "test/grpcbox_SUITE_data/certificates/My_Root_CA.crt"}},

            {listen_opts, #{port => 8080,
                            ip => {0,0,0,0}}},

            {pool_opts, #{size => 10}},

            {server_opts, #{header_table_size => 4096,
                            enable_push => 1,
                            max_concurrent_streams => unlimited,
                            initial_window_size => 65535,
                            max_frame_size => 16384,
                            max_header_list_size => unlimited}}]
 }].
