[{grpcbox, [{service_protos, [test_pb]}]},

 {chatterbox, [{stream_callback_mod, grpcbox_stream},
               {port, 8080},
               {ssl, false},
               {ssl_options, [{certfile,   "test/grpcbox_SUITE_data/certificates/localhost.crt"},
                              {keyfile,    "test/grpcbox_SUITE_data/certificates/localhost.key"},
                              {honor_cipher_order, false},
                              {versions, ['tlsv1.2']},
                              {alpn_preferred_protocols, [<<"h2">>]}]}]},

{lager,
  [{error_logger_hwm, 100},
   {crash_log_count, 5},
   {crash_log_date, "$D0"},
   {crash_log_size, 10485760},
   {crash_log_msg_size, 65536},
   {crash_log, "./log/crash.log"},
   {handlers,
    [{lager_console_backend, [{level, info}, {formatter, nucleus_log_formatter}]},
     {lager_file_backend,
      [{file, "./log/error.log"},
       {level, error},
       {formatter, nucleus_log_formatter},
       {size, 10485760},
       {date, "$D0"},
       {count, 5}]},
     {lager_file_backend,
      [{file, "./log/debug.log"},
       {level, debug},
       {formatter, nucleus_log_formatter},
       {size, 10485760},
       {date, "$D0"},
       {count, 5}]}]},
   {error_logger_redirect, true}]}
].
