[
 {grpcbox, [%% {client, #{channels => [{default_channel, [{http, "localhost", 8080, []}], #{}}]}},
            {servers,
             [#{grpc_opts => #{service_protos => [test_pb, grpcbox_health_pb, grpcbox_reflection_pb],
                               services => #{'grpc.testing.TestService' => grpc_testing_test_service,
                                             'grpc.health.v1.Health' => grpcbox_health_service,
                                             'grpc.reflection.v1alpha.ServerReflection' =>
                                                 grpcbox_reflection_service},
                               client_cert_dir => "test/grpcbox_SUITE_data/certificates/clients"},

                transport_opts => #{ssl => false,
                                    keyfile => "test/grpcbox_SUITE_data/certificates/localhost.key",
                                    certfile => "test/grpcbox_SUITE_data/certificates/localhost.crt",
                                    cacertfile => "test/grpcbox_SUITE_data/certificates/My_Root_CA.crt"},

                listen_opts => #{port => 8080,
                                 ip => {0,0,0,0}},

                pool_opts => #{size => 10},

                server_opts => #{header_table_size => 4096,
                                 enable_push => 1,
                                 max_concurrent_streams => unlimited,
                                 initial_window_size => 65535,
                                 max_frame_size => 16384,
                                 max_header_list_size => unlimited}}]}]},

 {opencensus, [{sampler, {oc_sampler_always, []}},
               {reporter, {oc_reporter_stdout, []}},

               {stat, [{exporters, [{oc_stat_exporter_stdout, []}]}]}]},

 {kernel,
  [
   {logger,
    [
     {handler, default, logger_std_h,
      #{filters => [{progress, {fun logger_filters:progress/2, stop}}],
        formatter => {logger_formatter, #{single_line => true}}}}]}]}
].
